## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/ziqinzhu/Desktop/BCS/Analysis-Projects/module6_World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Surt,LY,31.2089,16.5887,72.01,77,0,12.39,NaN
1,1,Kapaa,US,22.0752,-159.3190,79.12,69,75,4.00,NaN
2,2,Ushuaia,AR,-54.8000,-68.3000,40.66,75,0,1.14,NaN
3,3,Hilo,US,19.7297,-155.0900,77.79,76,1,3.44,NaN
4,4,Luderitz,NaN,-26.6481,15.1594,62.80,53,60,3.22,NaN

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Puerto Ayora,EC,-0.7393,-90.3518,84.16,87,84,5.99,NaN
16,16,Georgetown,MY,5.4112,100.3354,82.89,82,20,1.14,NaN
27,27,Diego De Almagro,CL,-26.3667,-70.0500,81.88,5,0,7.11,NaN
30,30,Kahului,US,20.8947,-156.4700,81.34,65,1,6.91,NaN
32,32,Avera,US,33.1940,-82.5271,89.91,64,84,12.01,NaN
44,44,Gibara,CU,21.1097,-76.1317,90.72,67,93,10.00,NaN
50,50,Sola,VU,-13.8833,167.5500,81.27,74,20,11.50,NaN
51,51,Butaritari,KI,3.0707,172.7902,82.35,73,44,12.37,NaN
63,63,Coahuayana,MX,18.7333,-103.6833,89.08,48,100,7.29,NaN
65,65,Umm Lajj,SA,25.0213,37.2685,87.71,59,0,7.58,NaN

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                333
City                   333
Country                333
Lat                    333
Lng                    333
Max Temp               333
Humidity               333
Cloudiness             333
Wind Speed             333
Current Description    167
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
682,682,Canico,PT,32.6333,-16.8500,80.13,36,20,19.57,few clouds
683,683,Puerto Ayora,EC,-0.7393,-90.3518,84.16,87,84,7.00,light rain
691,691,Georgetown,MY,5.4112,100.3354,82.89,82,20,1.14,few clouds
702,702,Diego De Almagro,CL,-26.3667,-70.0500,81.88,5,0,7.11,clear sky
705,705,Kahului,US,20.8947,-156.4700,81.34,65,1,6.91,clear sky
...,...,...,...,...,...,...,...,...,...,...
1335,1335,Tutoia,BR,-2.7619,-42.2744,87.78,81,41,6.29,scattered clouds
1336,1336,Mahibadhoo,MV,3.7833,72.9667,83.41,74,48,14.88,scattered clouds
1345,1345,Morant Bay,JM,17.8815,-76.4093,86.67,68,55,11.63,broken clouds
1347,1347,Tomatlan,MX,19.9333,-105.2500,93.38,36,4,9.48,clear sky
1349,1349,Gizo,SB,-8.1030,156.8419,81.18,78,13,7.65,few clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Puerto Ayora,EC,84.16,NaN,-0.7393,-90.3518,
16,Georgetown,MY,82.89,NaN,5.4112,100.3354,
27,Diego De Almagro,CL,81.88,NaN,-26.3667,-70.0500,
30,Kahului,US,81.34,NaN,20.8947,-156.4700,
32,Avera,US,89.91,NaN,33.1940,-82.5271,
44,Gibara,CU,90.72,NaN,21.1097,-76.1317,
50,Sola,VU,81.27,NaN,-13.8833,167.5500,
51,Butaritari,KI,82.35,NaN,3.0707,172.7902,
63,Coahuayana,MX,89.08,NaN,18.7333,-103.6833,
65,Umm Lajj,SA,87.71,NaN,25.0213,37.2685,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:    
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df.count()

City                   167
Country                167
Max Temp               167
Current Description    167
Lat                    167
Lng                    167
Hotel Name             167
dtype: int64

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the output_data_file = "weather_data/cities.csv"City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))